

.hedearclass{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 5%;
    position: absolute;
    width: 90%;  
    max-width: 90%;
    font-weight: bold;
    font-size: 20px;
    z-index:100;
}

.hedearclass button {
  color: #3E2A28;
  background-color: #EAC683;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  font-family: 'Abyssinica SIL', serif;
  font-weight: bold;
  font-size: 18px;
  position: relative; 
}
.hedearclass button:hover {
    background-color: #6B1E1E;
    color:#EAC683;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.nav-left div,
.nav-right div {
  border-bottom: 1px solid #FFF;
    color: #EAC683;
    cursor: pointer;
}




.all-content { display: block; }
.logo, .btn-reserver { display: block; }
.logo{
  width: 200px;
}
@media (max-width: 992px) {
  .all-content { display: none; }      
  .logo{ display: block;
    
  } 

  .logo{height: 120px; 
    width: auto;

  }
  .hedearclass button{padding: 5px 10px;}
  .headerclass{margin-right: 5%;
    margin-left: 5%;
    margin-top: 15%;
  }
  .nav-left{display:none;}
  .nav-right{display:none;}
  .hedearclass{justify-content: center;}
}
