

.hedearclass{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 3% 5%;
    position: absolute;
    width: 90%;  
    max-width: 90%;
    font-weight: bold;
    font-size: 20px;
    z-index:100;
}

.hedearclass button {
  color: #3E2A28;
  background-color: #EAC683;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Abyssinica SIL', serif;
  font-weight: bold;
  font-size: 18px;
  position: relative; 
}
.hedearclass button:hover {
    background-color: #6B1E1E;
    color:#EAC683;
}
.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.nav-left div,
.nav-right div {
  border-bottom: 1px solid #FFF;
    color: #EAC683;
    cursor: pointer;
}


.logo {
  position: absolute;        /* sort du flex */
  left: 50%;
  transform: translateX(-50%);
  height: 120px;
  width: auto;
  pointer-events: auto;
}

.all-content { display: block; }
.logo, .btn-reserver { display: block; }

@media (max-width: 992px) {
  .all-content { display: none; }      
  .logo, .btn-reserver { display: block;
    
  } 
  .nav-left{margin-top:6%;}
  .nav-right{margin-top:8%;}
  .logo{height: 100px; 
    margin-top:8%;
  }
  .hedearclass button{padding: 5px 10px;}
  .headerclass{margin-right: 5%;
    margin-left: 5%;
    margin-top: 10%;
  }

}
