.pattern-band {
  width: 100%;
  height: 80px;              /* 2 × 48px */
  background-image: url("../assets/motif.png");
  background-repeat: repeat;
  background-size: 40px 40px;
  
}

@keyframes pattern-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.images {
  display: flex;
  width: 100%;
  height: 400px;         
  overflow: hidden;
}

.images img {
  height: 100%;           
  object-fit: cover;      
}
.image1 {
  width: 70%;
}

.image2 {
  width: 30%;
}
.element {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}
.frame{
  width: 30%;
  height: auto;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  cursor: pointer;
}
.forchette{
  width: 13%;
  height: auto;
  z-index:2; 
  
}
.couteau{
  width: 12.6%;
  height: auto;
  z-index:2; 
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index:2; 
  padding-bottom:7%;
  padding-left:2%;
  padding-right:2%;
}

.description{
  display: flex;
  align-items: center;  
  justify-content: space-between;
  padding: 3% 10%;
  padding-top: 2%;
  padding-bottom: 8%;
  position: relative;
}

.description div{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 0.4; 
  z-index: 2;
}
.description p{
  color: #6B1E1E;
  font-size: 20px;
}
.description span{
  color: #6B1E1E;
  font-size: 18px;
}


.section-menu {
  position: relative;

  min-height: 100vh;
  overflow: hidden;
}
.grid-lines {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}
.v-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #EAC683;
}

.v1 { left: 25%; }
.v2 { left: 50%; }
.v3 { left: 75%; }
.h-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: #EAC683;
}

/* ajuste ces valeurs selon Figma */
.h1 { top: 30%; }
.h2 { bottom: 30%; }


@media (max-width: 992px) {
  .description {
    flex-direction: column;
    justify-content: center;
}

.description div{
  margin: 4% 0%;
}
.v2 { display: none; }
.frame{width: 60%;}
.forchette{
  width: 19%;
  
}
.couteau{
  width: 19.6%;
  height: auto;
  z-index:2; 
}
.menu{padding-bottom:0%;}
.h1,.h2 { display:none;}
.description p{
  font-size: 19px;
}
.description span{
  font-size: 15px;
}
}
.floating {
  animation: floatForward 2s ease-in-out infinite;
  will-change: transform;
}

@keyframes floatForward {
  0% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(-7px) scale(1.03); 
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}