* {
  box-sizing: border-box;
}
:root {
  font-family: 'Abyssinica SIL', serif;
  background-color: #FFF7E7;
  width: 100%;

}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;

}


